---
import Author from '../components/Author.astro'
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import SmallPostPreview from '../components/SmallPostPreview.jsx';
import BlogFooter from '../components/BlogFooter.astro';
import FeaturedVideos from '../components/FeaturedVideos.jsx'

let title = 'ryanharris.dev';
let description = 'software engineer.';
let permalink = 'https://ryanharris.dev/';
const eggheadProfileURL = 'https://app.egghead.io/instructors/ryan-harris';

let allPosts = Astro.fetchContent('./posts/*.md');
const featuredPosts = allPosts.filter(post => {
  return post.featured;
})

const eggheadResponse = await fetch('https://app.egghead.io/api/v1/playlists/react-hooks-revisited-abce.json');
const eggheadJSON = await eggheadResponse.json();
const hookVideos = eggheadJSON.items.slice(0, 3);

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 2rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .tile {
        margin-bottom: 2rem;
      }

      .tile:last-of-type {
        margin-bottom: 0;
      }

      .tile-header-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 2rem;
      }

      @media (min-width: 50em) {
        .content {
          margin-top: 4rem;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="layout">
      <article class="content">
        <section class="tile">
          <Author />
        </section>
        <section class="tile">
          <div class="tile-header-wrapper">
            <h3 class="tile-header">featured videos</h3>
            <a href={eggheadProfileURL}>all videos ></a>
          </div>
          <FeaturedVideos client:load videos={hookVideos} />
        </section>
        <section class="tile">
          <div class="tile-header-wrapper">
            <h3 class="tile-header">featured posts</h3>
            <a href="/posts">all posts ></a>
          </div>
          {featuredPosts.map(p => <SmallPostPreview post={p} />)}
        </section>
      </article>
    </div>
    <BlogFooter />
  </body>
</html>
