---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGithub, faFacebookMessenger } from '@fortawesome/free-brands-svg-icons';
import { faEnvelope, faPrint} from '@fortawesome/free-solid-svg-icons';

const socialLinks = {
    // github: 'https://github.com/iamthenewking',
    facebook: 'https://www.m.me/iamthenewking',
    email:  'mailto:mrgabonijeff@gmail.com',
    resume:  '../../jeffreygaboni.pdf',
 
}

interface Props {
  size: 'reg' | 'lg'
}

const { size } = Astro.props;

const lgClassName = size === 'lg' ? 'social-icons-list-lg' : '';
---
<div class="social-list-wrapper">
  <ul class={`social-icons-list ${lgClassName}`}>
    <!-- <li class="social-icon-list-item">
      <a href={socialLinks.github} target="_blank">
        <FontAwesomeIcon icon={faGithub} class="social-icon" />
      </a>
    </li> -->

    <li class="social-icon-list-item">
      <a href={socialLinks.facebook} target="_blank">
        <FontAwesomeIcon icon={faFacebookMessenger} class="social-icon" />
      </a>
    </li>
    <li class="social-icon-list-item">
      <a href={socialLinks.email} target="_blank">
        <FontAwesomeIcon icon={faEnvelope} class="social-icon" />
      </a>
    </li>

    <li class="social-icon-list-item">
      <a href={socialLinks.resume} target="_blank">
        <FontAwesomeIcon icon={faPrint} class="social-icon" />
      </a>
    </li>


  </ul>
</div>

<style>
  .social-list-wrapper {
    margin-bottom: 12px;
    margin-left: -8px;
  }

  .social-icons-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .social-icon-list-item {
    margin: 0;
    padding: 4px 8px;
  }

  .social-icon {
    height: 1.25rem;
    width: 1.25rem;
    
  }

  .facebook {
    height: 1.25rem;
    width: 1.25rem;
    color: blue;
    
  }

  .social-icons-list-lg .social-icon {
    height: 2rem;
    width: 2rem;
  }

@media (min-width: 50em) {
  .social-icons-list {
    justify-content: flex-start;
  }
}

</style>