---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGithub, faTwitter, faTwitch } from '@fortawesome/free-brands-svg-icons';

const socialLinks = {
    github: 'https://github.com/ryancharris',
    twitch: 'https://www.twitch.tv/ryan_c_harris',
    twitter: 'https://twitter.com/ryan_c_harris',
}

interface Props {
  size: 'reg' | 'lg'
}

const { size } = Astro.props;

const lgClassName = size === 'lg' ? 'social-icons-list-lg' : '';
---
<ul class={`social-icons-list ${lgClassName}`}>
  <li class="social-icon-list-item">
    <a href={socialLinks.github} target="_blank">
      <FontAwesomeIcon icon={faGithub} class="social-icon" />
    </a>
  </li>
  <li class="social-icon-list-item">
    <a href={socialLinks.twitter} target="_blank">
      <FontAwesomeIcon icon={faTwitter} class="social-icon" />
    </a>
  </li>
  <li class="social-icon-list-item">
    <a href={socialLinks.twitch} target="_blank">
      <FontAwesomeIcon icon={faTwitch} class="social-icon" />
    </a>
  </li>
</ul>

<style>
  .social-icons-list {
    list-style: none;
    display: flex;
    margin: 0 0 24px;
    padding: 0;
  }

  .social-icon-list-item {
    margin: 0;
    padding: 4px 8px;
  }

  .social-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  .social-icons-list-lg .social-icon {
    height: 2rem;
    width: 2rem;
  }

</style>